.pizza-results img {
  width: 200px;
  height: auto;
}

.purchase-results {
  display: none;
}



.pizza-angel {
  width: 200px;
  height: auto;
}

.well{
background-color: rgb(188, 196, 12);
}

.jumbotron {
  background-color: rgb(188, 196, 12);
}

body {
  background-color: #F1F0D8;
}
